@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1440px;
    height: 100vh;
}

.relative {
    position: relative;
    z-index: 2;
}

.text1 {
    color: #808080;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 31px;
}

.btn {
    padding: 13px 35px;
    gap: 10px;
    border-radius: 4px;
    background: white;
    border-radius: 4px;
    border: 1px solid #128DFF;
    background: #FFF;
    cursor: pointer;
}

.w-176 {
    width: 176px;
}

.w-230 {
    width: 230px;
}

.btn:hover {
    background: linear-gradient(138deg, #128DFF 0%, #1444EF 100%);
}

.text2 {
    color: #128DFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text2:hover {
    color: white;
}

.d-flex {
    display: flex;
}

.align-items-c {
    align-items: center;
}

.justify-content-c {
    justify-content: center;
}

.text-align-c {
    text-align: center;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B9B9B9;
    z-index: 1;
    cursor: pointer;
}

.page-bg {
    background-color: #B9B9B9;
}

.sidebar {
    width: 286px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 0px;
    background: #FFF;
    box-shadow: 9px 4px 26px 0px rgba(0, 0, 0, 0.06);
    position: absolute;
    left: -286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 21px 27px 0 29px;
    z-index: 2;
}

.show {
    left: 0px
}

.text {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mb-33 {
    margin-bottom: 33px;
}

.mb-25 {
    margin-bottom: 25px;
}

.my-5 {
    margin: 5px 0;
}

.closeimg {
    width: 100%;
    display: flex;
    justify-content: end;
}

.w-100 {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.b1 {
    background: linear-gradient(138deg, #128DFF 0%, #1444EF 100%);
    color: white;
}